@CHARSET "UTF-8";
#container{
 	width:100%;
 	
 }
 
#title{
	text-align:center;
	font-size:18sp;
	font-weight: bold;
}
 
#photo_id{
	width:30%;
	height:30px;
}

 #tf_information_des{
 
 	width:30%;
 	height:200px;
 }
 
 
 #sb_information_sub{
 
 	width:20%;
 	height:30px;
 	margin-left:5%;
 	margin-top:10px;
 }

 div{
 	
 	margin-left:10px;
 	margin-top:10px;
 }