@CHARSET "UTF-8";

body{
	font-size:18px;
}
div{
	margin-top:10px;
	
}

#tf_orgin_password{
	width:30%;
	height:30px;
}

#tf_new_password{
	
	width:30%;
	height:30px;
}

#tf_commit_new_password{
	
	width:30%;
	height:30px;
}

#sb_password_change{
	width:15%;
	height:30px;
}

#btn_cancel_change{
	width:15%;
	height:30px;
	
}